nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  width: 100%;
  background: #3a4750;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 50px 0 80px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav .logo h1 {
  color: white;
  font-size: 50px;
  height: 70px;
  margin-left: 30px;
  font-family: "Goldman", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li .a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

nav ul li .a:hover {
  color: #232629;
  background: #fff;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1200px) {
  nav {
    padding: 0 20px 0 50px;
  }
}

@media (max-width: 1035px) {
  nav ul li .a {
    font-size: 11px;
  }
  nav {
    padding: 0 10px 0 50px;
  }
  nav ul li {
    margin: 0 2px;
  }
}

@media (max-width: 962px) {
  nav {
    padding: 0 10px 0 30px;
  }
}

@media (max-width: 544px) {
  nav .logo h1 {
    font-size: 30px;
    margin-left: 30px;
  }
}

@media (max-width: 376px) {
  nav .logo h1 {
    font-size: 25px;
    margin-left: 10px;
  }
}

@media (max-width: 883px) {
  nav {
    padding: 0 30px 0 30px;
  }
  nav .menu-btn i {
    display: block;
  }
  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }
  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #232629;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 999;
  }
  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    margin: 40px 0;
  }
  nav ul li .a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    -webkit-transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li .a {
    margin-left: 0px;
  }
  nav ul li .a.active,
  nav ul li .a:hover {
    background: none;
    color: #d72323;
  }
}
/*# sourceMappingURL=Navbar.css.map */