$mainColor: #3a4750;
$secondColor: #232629;
$contrastColor: #d72323;
$contrastColorHover: #d00829;
$logoFont: "Goldman", cursive;
$titleFont: "Roboto", sans-serif;
$normalFont: "Montserrat", sans-serif;
