$mainColor: #16213e;
$secondColor: #1a1a2e;
$contrastColor: #b60623;
$contrastColorHover: #d00829;
$logoFont: "Goldman", cursive;
$titleFont: "Roboto", sans-serif;
$normalFont: "Montserrat", sans-serif;
